.advantages {
  width: 100%;
}


.advantages__header {
  margin: 0 auto;
  width: 285px;
  min-height: 162px;
  //PixelPerfect
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    width: 520px;
    min-height: 110px;
    //PixelPerfect
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 483px;
    //PixelPerfect
    margin-bottom: 41px;
  }
}

.advantages__slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 29px;
  //PixelPerfect
  margin-top: 32px;
  margin-left: 6px;
  width: 270px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    //PixelPerfect
    margin-top: 42px;
    margin-left: -2px;
    margin-bottom: 30px;
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-top: 53px;
    margin-left: -21px;
    margin-bottom: 30px;
  }
}

.advantages__introduction {
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $darkgray;

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-left: 0;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-top: 40px;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  //PixelPerfect
  margin-top: 10px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 45px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    //PixelPerfect
    padding-bottom: 42px;
  }
}

.advantages__details {
  margin-top: 35px;
}

//Стилизация первых двух причин
.advantages__description--city,
.advantages__description--bridge {
  background-color: $lightblue;
  color: $white;
}

// Первая причина
.advantages__description--city {
  position: relative;
  width: auto;
  min-height: 211px;
  //PixelPerfect
  margin-bottom: 270px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/white-triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 260px;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/mobile-city.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 260px;
    top: 227px;
    left: 0;
  }
}

//Ретинизация на мобильной версии
@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .advantages__description--city {
      &::after {
        background-image: url("../img/mobile-city@2x.jpg");
        background-size: 640px auto;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--city {
    width: 256px;
    min-height: 256px;
    margin-bottom: 45px;
    margin-right: 256px;

    &::before {
      background-image: none;
    }

    &::after {
      background-image: url("../img/city-photo-t.jpg");
      width: 512px;
      height: 256px;
      top: 0;
      left: 256px;
    }
  }
}

//Ретинизация на планшетной версии
@media (min-width: $tablet-width) {
  @media (min-resolution: 2dppx) {
    .advantages__description--city {
      &::after {
        background-image: url("../img/city-photo-t@2x.jpg");
        background-size: 1024px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--city {
    width: 400px;
    margin-right: 800px;

    &::after {
      background-image: url("../img/city-photo-d.jpg");
      width: 800px;
      height: 256px;
      top: 0;
      left: 400px;
    }
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .advantages__description--city {
      &::after {
        background-image: url("../img/city-photo-d@2x.jpg");
        background-size: 1600px auto;
      }
    }
  }
}

@media (max-width: $mobile-width-only) {
  .advantages__title--city {
    //PixelPerfect
    padding-top: 72px;
    margin-left: 2px;
  }

  .advantages__text--city {
    margin-top: -1px;
    margin-left: 2px;
  }
}

//Вторая причина
.advantages__description--bridge {
  position: relative;
  margin-top: 21px;
  margin-bottom: 250px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/mobile-bridge.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 520px;
    height: 260px;
    top: 191px;
    left: 0;
  }
}

//Ретинизация на мобильной версии
@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .advantages__description--bridge {
      &::after {
        background-image: url("../img/mobile-bridge@2x.jpg");
        background-size: 640px auto;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--bridge {
    width: 256px;
    min-height: 256px;
    margin-bottom: 0;
    margin-left: 512px;

    &::after {
      background-image: url("../img/tablet-bridge.jpg");
      width: 512px;
      height: 256px;
      top: 0;
      left: -512px;
    }
  }
}

//Ретинизация на планшетной версии
@media (min-width: $tablet-width) {
  @media (min-resolution: 2dppx) {
    .advantages__description--city {
      &::after {
        background-image: url("../img/tablet-bridge@2x.jpg");
        background-size: 1024px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--bridge {
    width: 400px;
    margin-top: 35px;
    margin-left: 800px;

    &::after {
      background-image: url("../img/desktop-bridge.jpg");
      width: 800px;
      height: 256px;
      top: 0;
      left: -800px;
    }
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .advantages__description--bridge {
      &::after {
        background-image: url("../img/desktop-bridge@2x.jpg");
        background-size: 1600px auto;
      }
    }
  }
}

//PixelPerfect
.advantages__title--bridge {
  padding-top: 40px;
  margin-left: -4px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }
}

.advantages__text--bridge {
  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
  }
}

//Стилизация остальных причин
.advantages__description--square,
.advantages__description--road,
.advantages__description--tourists {
  background-color: $lightgray;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 256px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

@media (max-width: $mobile-width-only) {
  .advantages__description--square,
  .advantages__description--road {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/line.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 280px;
      height: 1px;
      bottom: 21px;
      left: 20px;
    }
  }

  //PixelPerfect
  .advantages__title--square {
    padding-top: 26px;
    margin-left: 1px;
  }
}

//PixelPerfect
.advantages__text--square {
  width: 260px;
  margin: 0 auto;
}

.advantages__description--road {
  padding-top: 5px;
  margin-left: 1px;
  box-sizing: border-box;
}

.advantages__text--road {
  width: 240px;
  margin: 0 auto;
}

.advantages__description--tourists {
  padding-top: 6px;
  margin-left: 1px;
  box-sizing: border-box;
}

.advantages__text--tourists {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .advantages__title--city {
    width: 200px;
    margin: 0 auto;
    padding-top: 42px;
  }

  .advantages__text--city {
    width: 200px;
    margin: 0 auto;
    margin-top: -4px;
  }

  .advantages__text--bridge {
    width: 160px;
    margin: 0 auto;
    margin-top: 22px;
  }

  .advantages__title--bridge {
    width: 150px;
    margin: 0 auto;
    margin-left: 51px;
    margin-top: 21px;
  }

  .advantages__text--square,
  .advantages__title--square {
    width: 189px;
    margin: 0 auto;
  }

  //PixelPerfect
  .advantages__title--square {
    padding-top: 43px;
  }

  .advantages__text--square {
    margin-top: -4px;
  }

  .advantages__description--road {
    margin-left: -1px;
  }

  .advantages__text--road,
  .advantages__title--road {
    width: 165px;
    margin: 0 auto;
  }

  //PixelPerfect
  .advantages__title--road {
    padding-top: -5px;
  }

  .advantages__text--road {
    margin-top: -5px;
    width: 140px;
  }

  .advantages__text--tourists,
  .advantages__title--tourists {
    width: 155px;
    margin: 0 auto;
  }

  .advantages__text--tourists {
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text--city {
    width: 275px;
    margin-top: -3px;
  }

  .advantages__title--city {
    width: 150px;
    padding-top: 48px;
    padding-bottom: 2px;
    margin-left: 126px;
  }

  //PixelPerfect
  .advantages__title--bridge {
    width: 245px;
    margin: 0 auto;
    padding-top: 52px;
    padding-bottom: 2px;
  }

  .advantages__text--bridge {
    width: 220px;
    margin-top: -5px;
  }

  .advantages__text--square {
    width: 315px;
  }

  .advantages__title--square {
    width: 150px;
    padding-top: 45px;
  }

  .advantages__description--road,
  .advantages__description--tourists {
    margin-left: -1px;
  }

  .advantages__text--road {
    width: 270px;
  }

  .advantages__title--road {
    padding-top: 39px;
    padding-bottom: 1px;
    width: 150px;
  }

  .advantages__text--tourists {
    width: 290px;
  }

  .advantages__title--tourists {
    padding-top: 37px;
    padding-bottom: 3px;
    padding-left: 3px;
    width: 150px;
  }
}

.advantages__break {
  //PixelPerfect
  display: none;

  @media (min-width: $desktop-width) {
    display: inine;
  }
}
