.button {
  background-color: $lightblue;
  color: $white;
  display: block;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
