.copyright__text {
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.copyright__link {
  color: $black;

  &:hover {
    color: $lightblue;
  }

  &:active,
  &:focus {
    color: $blackopacity;
  }
}
