.details {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.details__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 698px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}


.details__list {
  @include reset-list;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    //PixelPerfect
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-bottom: 24px;
  }
}

.details__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: $black;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.details__text {
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: $darkgray;
}

.details__item--motels {
  width: 240px;
  min-height: 105px;
  position: relative;
  order: 1;
  //PixelPerfect
  padding-left: 48px;
  margin-top: 20px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 39px;
    height: 37px;
    top: -12px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .details__item--motels {
    width: 185px;
    text-align: center;
    //PixelPerfect
    margin-top: 14px;
    padding-left: 0;
    padding-top: 100px;

    &::before {
      background-image: url("../img/icon-house-tablet.svg");
      width: 75px;
      height: 72px;
      //Отцентрировать
      top: 1px;
      left: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .details__item--motels {
    width: 282px;

    &::before {
      top: 0;
      left: 86px;
    }
  }
}

//PixelPerfect
.details__title--motels {
  margin-bottom: 15px;
  margin-left: 1px;

  @media (min-width: $tablet-width) {
    //PixelPerfect
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-top: 1px;
    margin-left: -33px;
  }
}

.details__text--motels {
  //margin-bottom: 15px;
  margin-left: 1px;

  @media (min-width: $desktop-width) {
    //PixelPerfect
    width: 265px;
    margin-top: 1px;
    margin-left: -8px;
  }
}

.details__item--souvenirs {
  width: 230px;
  min-height: 84px;
  padding-left: 45px;
  position: relative;
  order: 2;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32px;
    height: 38px;
    top: 0;
    left: 5px;
  }
}

@media (min-width: $tablet-width) {
  .details__item--souvenirs {
    width: 200px;
    text-align: center;
    padding-left: 0;
    padding-top: 100px;
    order: 3;

    &::before {
      background-image: url("../img/icon-gift-tablet.svg");
      width: 64px;
      height: 75px;
      //Отцентрировать
      top: 12px;
      left: 74px;
    }
  }
}

@media (min-width: $desktop-width) {
  .details__item--souvenirs {
    width: 235px;

    &::before {
      top: 12px;
      left: 77px;
    }
  }
}

//PixelPerfect
.details__title--souvenirs {
  margin-top: 13px;
  margin-bottom: 15px;
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-bottom: 22px;
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-left: -15px;
  }
}

.details__text--souvenirs {
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    width: 195px;
    margin-top: 14px;
    margin-bottom: 22px;
    margin-left: 10px;
  }
}

.details__item--food {
  width: 210px;
  min-height: 105px;
  padding-left: 52px;
  position: relative;
  order: 3;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 35px;
    top: 6px;
    left: -1px;
  }
}

@media (min-width: $tablet-width) {
  .details__item--food {
    width: 170px;
    text-align: center;
    padding-left: 0;
    padding-top: 100px;
    order: 2;

    &::before {
      background-image: url("../img/icon-burger-tablet.svg");
      width: 76px;
      height: 68px;
      //Отцентрировать
      top: 18px;
      left: 53px;
    }
  }
}

@media (min-width: $desktop-width) {
  .details__item--food {
    width: 313px;

    &::before {
      top: 19px;
      left: 95px;
    }
  }
}

//PixelPerfect
.details__title--food {
  margin-top: 13px;
  margin-bottom: 15px;
  margin-left: -2px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
    margin-top: 14px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-top: 13px;
    margin-left: -45px;
  }
}

.details__text--food {
  margin-left: -2px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    width: 290px;
    margin-left: -11px;
  }
}

// Пробел
//Блок о сувенирах, мобильная и планшетная версии
.details__text--souvenirs-desktop {
  display: none;
}

//Блок о сувенирах, десктопная версия
@media (min-width: $desktop-width) {
  .details__text--souvenirs-mobile {
    display: none;
  }

  .details__text--souvenirs-desktop {
    display: block;
    width: 220px;
    margin-left: -1px;
    margin-bottom: 15px;
  }
}
