.gallery__wrapper {
  width: 280px;
  margin: 0 auto;
  //outline: 5px solid green;
  //outline-offset: -5px;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.gallery__header {
  position: relative;
  padding-bottom: 20px;
  width: 299px;
  margin: 0 auto;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__header {
    width: 458px;
    margin-top: 65px;
    margin-bottom: 65px;

    &::after {
      background-image: none;
    }
  }
}

.gallery__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.gallery__text {
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $darkgray;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include reset-list;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.gallery__item {
  margin-top: 22px;
  position: relative;
  padding-bottom: 15px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__item {
    margin: 0;
    padding: 0;

    &::after {
      background-image: none;
    }
  }
}

// Стилизация фотографий под каждый экран
@media (min-width: $tablet-width) {
  .gallery__item--sunset {
    width: 648px;
  }

  .gallery__item--cactus {
    width: 324px;
  }

  .gallery__item--road {
    width: 324px;
  }

  .gallery__item--bridge {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__item--sunset {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
  }

  .gallery__item--cactus {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
  }

  .gallery__item--road {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
  }

  .gallery__item--bridge {
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
  }
}

.gallery__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  padding-top: 11px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 22px;
    padding-left: 20px;
    margin-top: 0;
  }
}

.gallery__author {
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: $darkgray;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.gallery__likes {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  padding-left: 37px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/like-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 23px;
    height: 21px;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .gallery__likes {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;

    &::before {
      top: 30px;
      left: 0;
    }
  }
}

//Стилизация описания картинок под каждый экран
@media (min-width: $tablet-width) {
  .gallery__description {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 1fr;
    min-width: 324px;
    min-height: 80px;
    margin: 0;
    background-color: $lightergray;
  }

  .gallery__description--road {
    background-color: $moregray;
  }
}

@media (min-width: $desktop-width) {
  .gallery__photo {
    position: relative;
    outline: 5px solid red;
    outline-offset: -5px;
  }

  .gallery__description {
    position: absolute;
    width: 100%;
    min-height: 80px;
    bottom: 0;
    left: 0;
    background-color: $blackopacity;
    color: $white;
  }
}

@media (min-width: $tablet-width) {
  .gallery__picture {
    display: block;
  }

  .gallery__picture--sunset {
    height: 400px;
  }

  .gallery__picture--cactus,
  .gallery__picture--road,
  .gallery__picture--bridge {
    height: 267px;
  }
}
