.main-nav {
  position: relative;
  order: 1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin: 0 auto;
    margin-left: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 87px;
    width: 1040px;
  }
}

.main-nav__list {
  background-color: $lightblue;

  @include reset-list;

  @media (min-width: $tablet-width) {
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__list--close {
  //display: none;
}

// Меню-бургер
.main-nav__toggle {
  position: absolute;
  display: block;
  z-index: 2;
  width: 23px;
  height: 22px;
  //PixelPerfect
  bottom: -42px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: $lightblue;
  box-shadow: 0 9px 0 0 $lightblue, 0 18px 0 0 $lightblue;
}

/* Меню-бургер при наведении и нажатии
.main-nav__toggle:active::before {
  background-color: fade($lightblue, 60%);
  box-shadow:
    0 9px 0 0 fade($lightblue, 60%),
    0 18px 0 0 fade($lightblue, 60%);
}

.main-nav__toggle:focus::before {
  background-color: fade($lightblue, 30%);
  box-shadow:
    0 9px 0 0 fade($lightblue, 30%),
    0 18px 0 0 fade($lightblue, 30%);
}*/

// Меню-закрытие
.main-nav__close {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 17px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -2px;
    width: 27px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade($white, 30%);
  }
}
