.modal-success {
  display: none;
  width: 320px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 7px 15px $shadow;

  @media (min-width: $tablet-width) {
    width: 640px;
  }

  @media (min-width: $tablet-width) {
    transform: translate(-51%, -50%);
  }
}

.modal-success__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.modal-success__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  //PixelPerfect
  margin-top: 35px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    //PixelPerfect
    margin-top: 40px;
    margin-left: -1px;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    //PixelPerfect
    margin-top: 54px;
    margin-bottom: 30px;
  }
}

.modal-success__text {
  width: 240px;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $darkgray;
  //PixelPerfect
  margin: 0 auto;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 430px;
    margin-bottom: 42px;
  }
}

.modal-success__bottom {
  width: 320px;
  min-height: 98px;
  box-sizing: border-box;
  padding-top: 20px;
  background-color: $lightergray;

  @media (min-width: $tablet-width) {
    width: 640px;
    min-height: 146px;
    padding-top: 44px;
  }
}

.modal-success__button {
  //margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  border: none;
  margin: 0 auto;
  width: 280px;
  height: 58px;

  @media (min-width: $tablet-width) {
    width: 458px;
    min-height: 58px;
    font-size: 21px;
    box-sizing: border-box;
    padding-top: 7px;
  }
}

.modal-success__show {
  display: block;
  animation: show 0.6s;
}

@keyframes show {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
