.offer__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-bottom: 66px;
  }
}

.offer__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  //PixelPerfect
  padding-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;
    margin-top: -2px;
  }
}

.offer__text {
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $darkgray;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    //PixelPerfect
    margin-top: -12px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin-bottom: 43px;
    margin-top: -10px;
    margin-left: -1px;
  }
}

.offer__break {
  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    display: none;
  }
}

.offer__button {
  padding: 16px 32px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.offer__map {
  width: 320px;
  height: 350px;
  border: none;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-bottom: -6px;
  }
}
