.page-footer__wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 638px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.page-footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 39px;
}

.page-footer__social {
  margin-top: 34px;
  margin-bottom: 45px;
}


.page-footer__copyright {
  margin-bottom: 26px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
