.page {
  min-width: 320px;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.page__wrapper {
  //min-width: 320px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    /* 1120px / 1200px ~= 94% */
    width: 94%;
    //max-width: 1120px;
  }
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
}
