.page-header {
  width: 320px;
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-header__logo {
  order: 2;
  text-align: center;
  height: 56px;
  box-sizing: border-box;
  z-index: 1;
  //PixelPerfect
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    width: 102px;
    height: 84px;
    //PixelPerfect
    top: -4px;
    left: 333px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 187px;
    height: 97px;
    top: 0;
    left: 500px;
  }
}

.page-header__introduction {
  width: 100%;
  height: 389px;
  position: relative;
  order: 4;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    top: 332px;
    left: 0;
  }

  //Ретинизация
  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

@media (min-width: $tablet-width) {
  .page-header__introduction {
    height: 520px;
    background-image: none;

    &::after {
      background-image: none;
    }
  }
}

//Страница формы и каталога
.page-header__introduction-sedona {
  position: relative;
  width: 100%;
  order: 4;
  height: 160px;
  background-image: url("../img/back-mobile.jpg");
  background-position: 0 160px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    top: 103px;
    left: 0;
  }

  //Ретинизация
  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

@media (min-width: $tablet-width) {
  .page-header__introduction-sedona {
    height: 290px;
    width: 100%;
    background-image: url("../img/background-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/triangle-tablet.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 100%;
      height: 100%;
      top: 233px;
      left: 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-tablet@2x.jpg");
      background-size: 1516px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__introduction-sedona {
    height: 300px;
    width: 100%;
    background-image: url("../img/background-desktop.jpg");
    background-position: 0 0;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/triangle-desktop.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 100%;
      height: 100%;
      top: 243px;
      left: 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__picture {
    position: absolute;
    top: 90px;
    left: 20px;
  }
}

.page-header__sedona {
  width: 230px;
  height: 40px;
  //PixelPerfect
  margin-top: 55px;
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    //PixelPerfect
    margin-top: 95px;
    margin-left: 155px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
    //PixelPerfect
    margin-top: 105px;
    margin-left: 370px;
  }
}
