.page {
  width: 100%;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.page__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
}
