.page-header {
  width: 320px;
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-header__logo {
  order: 2;
  text-align: center;
  height: 56px;
  box-sizing: border-box;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    width: 102px;
    height: 84px;
    top: 0;
    left: 325px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 187px;
    height: 97px;
    top: 0;
    left: 500px;
  }
}

.page-header__introduction {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/background-image.jpg");
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.page-header__introduction {
  width: 100%;
  height: 389px;
  position: relative;
  order: 4;
  outline: 5px solid rgb(47, 128, 0);
  outline-offset: -5px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/background.jpg");
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

.page-header__introduction--sedona {
  height: 160px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/background.jpg");
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
