.page-header {
  width: 320px;
  background-color: $white;
  color: $black;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 768px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-header__logo {
  order: 2;
  text-align: center;
  height: 56px;
  box-sizing: border-box;
  z-index: 1;
  //PixelPerfect
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    width: 102px;
    height: 84px;
    //PixelPerfect
    top: -4px;
    left: 333px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    width: 187px;
    height: 97px;
    top: 0;
    left: 500px;
  }
}

.page-header__introduction {
  width: 100%;
  height: 389px;
  position: relative;
  order: 4;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    top: 332px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-header__introduction {
    height: 520px;

    &::before {
      background-image: none;
    }

    &::after {
      background-image: none;
    }
  }
}

.page-header__introduction--sedona {
  position: relative;
  width: 100%;
  height: 160px;
  order: 4;
  outline: 5px solid red;
  outline-offset: -5px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: -292px 223px;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__introduction--sedona {
    height: 290px;

    &::before {
      content: "";
      background-image: url("../img/back-desktop.jpg");
      background-position: 0 0; //-216px -172px;
      height: 290px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__picture {
    position: absolute;
    top: 90px;
    left: 20px;
  }
}

.page-header__picture--sedona {
  width: 230px;
  height: 40px;
  text-align: center;
}
