.presentation__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 112px;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-bottom: 79px;
  }
}

.presentation__header {
  width: 266px;
  //PixelPerfect
  margin-top: 34px;
  margin-left: 29px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 445px;
    //PixelPerfect
    margin-top: 59px;
    margin-left: 101px;
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    //PixelPerfect
    margin: 0 auto;
    margin-top: -95px;
    margin-bottom: 77px;
  }
}

.presentation__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.presentation__text {
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $darkgray;
  //PixelPerfect
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    //PixelPerfect
    margin-top: 32px;
  }
}

// Мобильная версия плеера
@media (max-width: $mobile-width-only) {
  .presentation__video {
    position: relative;
    //PixelPerfect
    padding-bottom: 60px;

    &::before {
      position: absolute;
      content: "";
      background-color: $opacity;
      width: 280px;
      height: 48px;
      left: 20px;
      bottom: 60px;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $lightergray;
      width: 280px;
      height: 66px;
      left: 20px;
      top: 13px;
    }
  }

  .presentation__list {
    display: flex;
    flex-wrap: wrap;

    @include reset-list;
  }

  .presentation__player {
    position: relative;
  }

  .presentation__item--scale-mobile {
    color: $white;
    position: absolute;
    width: 235px;
    height: 3px;
    left: 43px;
    bottom: 149px;
  }

  .presentation__item--scale-tablet {
    display: none;
  }

  .presentation__item--scale-desktop {
    display: none;
  }

  .presentation__item--slider-mobile {
    color: $white;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 77px;
    bottom: 137px;
  }

  .presentation__item--replay {
    color: $bluegrayish;
    stroke: $black;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 46px;
    bottom: 75px;

    &:hover {
      color: $darkgray;
      stroke: $darkgray;
    }

    &:active,
    &:focus {
      color: $darkgray;
      stroke: $darkgray;
      opacity: 0.3;
    }
  }

  .presentation__item--subtitles {
    color: $bluegrayish;
    position: absolute;
    width: 32px;
    height: 20px;
    left: 194px;
    bottom: 75px;

    &:hover {
      color: $darkgray;
      stroke: $darkgray;
    }

    &:active,
    &:focus {
      color: $darkgray;
      stroke: $darkgray;
      opacity: 0.3;
    }
  }

  .presentation__item--fullscreen {
    color: $bluegrayish;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 257px;
    bottom: 75px;

    &:hover {
      color: $darkgray;
      stroke: $darkgray;
    }

    &:active,
    &:focus {
      color: $darkgray;
      stroke: $darkgray;
      opacity: 0.3;
    }
  }
}

// Планшетная версия плеера
@media (min-width: $tablet-width) {
  .presentation__video {
    position: relative;
    //PixelPerfect
    padding-bottom: 60px;

    &::before {
      position: absolute;
      content: "";
      background-color: $opacity;
      width: 100%;
      height: 93px;
      left: 0;
      bottom: 64px;
    }
  }

  .presentation__list {
    display: flex;
    flex-wrap: wrap;

    @include reset-list;
  }

  .presentation__player {
    position: relative;
  }

  .presentation__item--scale-mobile {
    display: none;
  }

  .presentation__item--scale-tablet {
    order: 2;
    color: $white;
    position: absolute;
    width: 389px;
    height: 3px;
    left: 153px;
    bottom: 102px;
  }

  .presentation__item--scale-desktop {
    display: none;
  }

  .presentation__item--slider-mobile {
    order: 3;
    color: $white;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 265px;
    bottom: 90px;
  }

  .presentation__item--replay {
    order: 1;
    color: $white;
    stroke: $white;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 95px;
    bottom: 82px;

    &:hover {
      opacity: 0.6;
    }

    &:active,
    &:focus {
      opacity: 0.3;
    }
  }

  .presentation__item--subtitles {
    order: 4;
    color: $white;
    position: absolute;
    width: 32px;
    height: 20px;
    left: 584px;
    bottom: 82px;

    &:hover {
      opacity: 0.6;
    }

    &:active,
    &:focus {
      opacity: 0.3;
    }
  }

  .presentation__item--fullscreen {
    order: 5;
    color: $white;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 647px;
    bottom: 82px;

    &:hover {
      opacity: 0.6;
    }

    &:active,
    &:focus {
      opacity: 0.3;
    }
  }
}

// Десктопная версия плеера
@media (min-width: $desktop-width) {
  .presentation__video {
    //PixelPerfect
    margin-left: -1px;
  }

  .presentation__item--scale-mobile {
    display: none;
  }

  .presentation__item--scale-tablet {
    display: none;
  }

  .presentation__item--scale-desktop {
    display: flex;
    order: 2;
    color: $white;
    position: absolute;
    width: 540px;
    height: 3px;
    left: 290px;
    bottom: 130px;
  }

  .presentation__item--slider-mobile {
    order: 3;
    color: $white;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 404px;
    bottom: 130px;
  }

  .presentation__item--replay {
    order: 1;
    color: $white;
    position: absolute;
    width: 16px;
    height: 20px;
    left: 235px;
    bottom: 123px;
  }

  .presentation__item--subtitles {
    order: 4;
    color: $white;
    position: absolute;
    width: 32px;
    height: 20px;
    left: 874px;
    bottom: 122px;
  }

  .presentation__item--fullscreen {
    order: 5;
    color: $white;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 937px;
    bottom: 122px;
  }
}
