.presentation__wrapper {
  width: 266px;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 33px;
}

.presentation__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.presentation__text {
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $darkgray;
}
