.site-list {
  //outline: 5px solid rgb(47, 128, 0);
  //outline-offset: -5px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: 1040px;
  }
}

.site-list__link {
  display: block;
  min-height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: $black;
    border: none;
    margin-top: 16px;
  }
}

//Отступы для центрирования логотипа
@media (min-width: $tablet-width) {
  .site-list__link--photo {
    padding-right: 35px;
  }

  .site-list__link--form {
    padding-left: 39px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--photo {
    padding-right: 85px;
  }

  .site-list__link--form {
    padding-left: 80px;
  }
}
