.site-list {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: 1040px;
  }
}

.site-list__link {
  display: block;
  box-sizing: border-box;
  padding-top: 11px;
  min-height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border-top: 1px solid rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: $mobile-width-only) {
  .site-list__link {
    &:hover {
      background-color: $brightblue;
      color: $white;
    }

    &:focus,
    &:active {
      background-color: $blue;
      color: $whiteopacity;
    }
  }
}


@media (min-width: $tablet-width) {
  .site-list__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: $black;
    border: none;
    padding-top: 16px;
    //margin-top: 16px;

    &:hover {
      color: $lightblue;
    }

    &:focus {
      color: $blackopacity;
    }

    &:active {
      color: $plum;
    }
  }
}

.site-list__link--html {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--html {
    &::after {
      background: none;
    }
  }
}

//Отступы для центрирования логотипа
//PixelPerfect
@media (min-width: $tablet-width) {
  .site-list__link--photo {
    // margin-right: 70px;
    margin-left: 27px;
  }

  .site-list__link--form {
    margin-left: 160px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--photo {
    margin-left: 20px;
  }

  .site-list__link--form {
    margin-left: 135px;
  }
}
