.social__list {
  display: flex;
  justify-content: center;

  @include reset-list;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $lightblue;
  margin-right: 6px;

  &:hover {
    background-color: $brightblue;
  }

  &:active,
  &:focus {
    background-color: $blue;
    fill: $whiteopacity;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__icon--twitter {
  margin: 16px 15px 18px 14px;
}

.social__icon--facebook {
  margin: 13px 19px 16px 19px;
}

.social__icon--youtube {
  margin: 17px 13px;
}
