.social__list {
  display: flex;
  justify-content: center;

  @include reset-list;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $lightblue;
  margin-right: 6px;
  box-sizing: border-box;

  &:hover {
    background-color: $brightblue;
  }

  &:active,
  &:focus {
    background-color: $blue;
  }

  &:last-child {
    margin-right: 0;
  }
}

//PixelPerfect
.social__item--twitter {
  padding-left: 15px;
  padding-top: 17px;
}

.social__item--facebook {
  padding-left: 20px;
  padding-top: 13px;
}

.social__item--youtube {
  padding-left: 13px;
  padding-top: 17px;
}


.social__link {
  color: $white;

  &:hover {
    color: $white;
  }

  &:active,
  &:focus {
    color: $whiteopacity;
  }
}
