// Colors

$black: #000000;
$white: #ffffff;
$lightblue: #81b3d2;
$brown: #766458;
$darkgray: #333333;
$gray: #d6d6d6;
$lightgray: #eeeeee;
$darkergray: #e6e6e6;
$lightergray: #f2f2f2;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
