// Colors

$black: #000000;
$white: #ffffff;
$blue: #5496bd;
$lightblue: #81b3d2;
$brightblue: #669ec0;
$brown: #766458;
$plum: #766357;
$darkgray: #333333;
$bluegrayish: #5c6870;
$gray: #d6d6d6;
$grayish: #d5d5d5;
$lightgray: #eeeeee;
$moregray: #eaeaea;
$darkergray: #e6e6e6;
$darkestgray: #e5e5e5;
$lightergray: #f2f2f2;
$shadow: rgba(0, 1, 1, 0.15);
$blackopacity: rgba(0, 0, 0, 0.3);
$opacity: rgba(0, 0, 0, 0.6);
$whiteopacity: rgba(255, 255, 255, 0.3);

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
