// Global
@import "./global/global.scss";
@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global/mixins.scss";

//Blocks
@import "./blocks/page.scss";
@import "./blocks/advantages.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/offer.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/page-header.scss";
@import "./blocks/page-main.scss";
@import "./blocks/site-list.scss";
@import "./blocks/social.scss";
@import "./blocks/details.scss";
@import "./blocks/copyright.scss";
@import "./blocks/buttons.scss";
@import "./blocks/form.scss";
@import "./blocks/gallery.scss";
@import "./blocks/presentation.scss";
@import "./blocks/modal-fail.scss";
@import "./blocks/modal-success.scss";
